apiVersion: apps/v1
kind: Deployment 
metadata:
  name: captain-deployment
  labels: 
    app: captain-clap
spec:
  replicas: 10
  selector:
    matchLabels:
      app: captain-clap
  template:
    metadata:
      labels:
        app: captain-clap 
    spec:
      containers:
      - name: k8s-demo
        image: 554472277228.dkr.ecr.ap-south-1.amazonaws.com/nodejs-test
        ports:
        - name: nodejs-port
          containerPort: 3000
